{% include 'layout.html' %}
<div class="container mt-5">
    <h3 class="text-warning">
       Add input to chat with personal chatbot
    </h3>
    <form action="/" method="Post">
        <div>
            <textarea class="form-control bg-secondary text-warning mb-2" placeholder="Add input here" name="user_input" rows="3"></textarea>
            <button class="btn btn-warning mt-1" type="Submit">Send</button>
        </div>
    </form>

    <div>
        <div class="card text-center mt-3 bg-secondary text-warning mt-5">
            <div class="card-header">
                Chat History:
            </div>
            <div class="card-body">
                {% for response in chat_responses %}
                <div>
                    - {{response}}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>